# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Sensitive outputs
outputs_sensitive.tf

# Lambda zip
lambda/*.zip

# OS
.DS_Store
Thumbs.db

# IoT certificates & keys
*.pem
*.key
*.crt
vehicle-demo/*.pem
vehicle-demo/*.key
vehicle-demo/*.crt

# TLS / cert material
*.p12
*.pfx

# Allow only code in vehicle-demo
!vehicle-demo/*.py
!vehicle-demo/README.md
