# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform lock (optional to keep — but OK to ignore for now)
.terraform.lock.hcl

# Sensitive outputs
outputs_sensitive.tf

# Lambda zip
lambda/*.zip

# OS
.DS_Store
Thumbs.db
